<% if user_signed_in? %>

<div class="center hero-unit">
	<h1>finance institute</h1>
	<p>
		This is the home page for the RoR finance institute
	</p>
	<p>
	    Your Classes that you are a currently signed up for 
	    are below </p>

</div>

<section>
	<%= render 'home_courses' %>
</section>

<section>
	<%= render 'shared/stats' %>
</section>


<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

<% else %>

<div class="center hero-unit">
	<h1>finance institute</h1>
	<p>
		This is the home page for the RoR finance institute
	</p>

	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>

</div>

<% end %>