<% if user_signed_in? %>

	<div>
		<h5 class="align-center">
			     Welcome back, <%= @user.name %>! Your Courses: 
		</h5>
	</div>
	<section>
		<%= render 'home_courses' %>
	</section>

<% else %>

	<div class="align-center">
		<h1 class="align-center small-padding">finance institute</h1>
		<h5 class="align-center">
			Learn the basics of finance and financial modeling interactively, for free
		</h5>
	</div>

	<div class="align-center small-padding">

	  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>

	<section>
		<%= render 'home_excel' %>
	</section>

	<div>
	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
	</div>

<% end %>