<%= provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view user", @user %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <% if @courses.any? %>
      <ul class="users">
        <%- @courses.each do |course| %>
        <%= course.title %>
        <%- end%>
      </ul>
    <% end %>
  </div>
</div>