<div id="myExcelDiv" class="excel"></div>
<script type="text/javascript" src="http://r.office.microsoft.com/r/rlidExcelWLJS?v=1&kip=1"></script>
<script type="text/javascript">
    /*
    * This code uses the Microsoft Office Excel JavaScript object model to programmatically insert the
    * Excel Web App into a div with id=myExcelDiv. The full API is documented at
    * http://msdn.microsoft.com/en-us/library/hh315812.aspx. There you can find out how to programmatically get
    * values from your Excel file and how to use the rest of the object model. 
    */

    // Use this file token to reference Book1.xlsx in the Excel APIs
    var fileToken = gon.excel_link;
    var ewa = null;

    // Run the Excel load handler on page load.
    if (window.attachEvent)
    {
        window.attachEvent("onload", loadEwaOnPageLoad);
    } else
    {
        window.addEventListener("DOMContentLoaded", loadEwaOnPageLoad, false);
    }

    function loadEwaOnPageLoad()
    {
        var props = {
            uiOptions: {
                showGridlines: true,
                showRowColumnHeaders: true,
                showParametersTaskPane: true
            },
            interactivityOptions: {
                allowTypingAndFormulaEntry: true,
                allowParameterModification: true,
                allowSorting: false,
                allowFiltering: false,
                allowPivotTableInteractivity: false
            }
        };
        // Embed workbook using loadEwaAsync
        Ewa.EwaControl.loadEwaAsync(fileToken, "myExcelDiv", props, onEwaLoaded);
    }

    function onEwaLoaded(asyncResult)
    { 
        if (asyncResult.getSucceeded())
        {
            // Use the AsyncResult.getEwaControl() method to get a reference to the EwaControl object
            ewa = asyncResult.getEwaControl();
        }
        else
        {
            alert("Async operation failed!");
        }
        // ...
    }

	function execute()
	{

		 //get the current sheet name and build the range address in A1 notation
		var currentSheet = ewa.getActiveWorkbook().getActiveSheet().getName();
	
	    // Get unformatted range values (getValuesAsync(0,...) where 0 = Ewa.ValuesFormat.Unformatted)
	  var cell = gon.cell_location
	  var commaIndex = cell.indexOf(",");
      var row = parseInt(cell.substring(0, commaIndex));
      var column = parseInt(cell.substring(commaIndex + 1))
      var range = ewa.getActiveWorkbook().getRange(currentSheet,row,column,row+1,column+1);
      range.getValuesAsync(1, getRangeValues, null)
	}     
	 
	function getRangeValues(asyncResult)
	{
	    // Get the value from asyncResult if the asynchronous operation was successful.
	    if (asyncResult.getCode() == 0)
	    {
	        // Get the value in active cell (located at row 0, column 0 of the
	        // range which consists of a single cell (the "active cell")).
			var cellValue = asyncResult.getReturnValue()[0][0];
            var checked = checkAnswer(cellValue)
          

	        
            if(checked)
            {

                //display correct-answer dialogue
                $('#modal-simple-success').modal('show')
                //create a relationship between User and Step (UserStep Model)
                
                //change state from pending to finished
                


                //move to next step
            
            }
            else
            {
                //display wrong-answer dialogue
                $('#modal-simple-failure').modal('show')


            }
	    }
	    else 
	    {
	          alert("Operation failed with error message " + asyncResult.getDescription() + ".");
	    }    
	}

    function checkAnswer(cellValue)
    {
        return (gon.excel_answer == cellValue.trim())

    }
</script>


<% if current_user.attempted_step?(@step) %>
    <div class="checkAnswer" data-toggle="modal">
      <%= link_to_function "check answer", 'execute();', class: "btn btn-success" %>
    </div>
<% else %>
    <div class="checkAnswer" data-toggle="modal">
    <%= form_for(current_user.user_steps.build(step_id: @step.id), remote: true) do |f| %>
      <div><%= f.hidden_field :step_id %></div>
      <%= f.submit "check answer", class: "execute btn btn-large btn-primary" %>
    <% end %>
    </div>
<% end %>


<% if current_user.attempted_step?(@step) %>
    <%= form_for(current_user.user_steps.find_by_step_id(@step.id), html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit "Remove Course", class: "btn btn-large" %>
<% end %>
<% else %>
    <div class="checkAnswer" data-toggle="modal">
    <%= form_for(current_user.user_steps.build(step_id: @step.id), remote: true) do |f| %>
      <div><%= f.hidden_field :step_id %></div>
      <%= f.submit "check answer", class: "execute btn btn-large btn-primary" %>
    <% end %>
    </div>
<% end %>


<%= render 'shared/modal_simple_success' %>
<%= render 'shared/modal_simple_failure' %>