<div class="sidebar-background">
  <div class="primary-sidebar-background"></div>
</div>


<div class="primary-sidebar">

 <!-- Main nav -->
  <ul class="nav nav-collapse collapse nav-collapse-primary">
    

    <% @step_list.each_with_index do |step, i| %>

    <% case step.media_type %>
    <% when 'video' %>
            <li class="<%= nav_active step %>">
              <span class="glow"></span>
              <a href = "
              <%= course_level_step_path(@course.id, @level.id, step.id) %>" >
                  <i class='icon-info-sign icon-2x'></i>
                  <span>Video</span>
                </a>
            </li>

            <% nav_active_icon(step, i) %>



    <% when 'excel' %>
            <li class="<%= nav_active step %>">
              <span class="glow"></span>
              <a href="<%= course_level_step_path(@course.id, @level.id, step.id) %>">
                  <i class="<%= icons[i] %> icon-2x"></i>
                  <span>Step <%= i %> </span>
              </a>
            </li>

             <% nav_active_icon(step, i) %>

    <% else %>
            <li class="<%= nav_active step %>">
              <span class="glow"></span>
             <a href="<%= course_level_step_path(@course.id, @level.id, step.id) %>">
                  <i class="<%= icons[i] %> icon-2x"></i>
                  <span>Step <%= i %></span>
              </a>
            </li>

             <% nav_active_icon(step, i) %>
 
    <% end %>   
  <% end %>
 
  </ul>

  <div class="hidden-tablet hidden-phone">
    <div class="text-center" style="margin-top: 60px; margin-left: 22px">
      <div class="easy-pie-chart-percent" style="display: inline-block" data-percent="89"><span>89%</span></div>
      <div style="padding-top: 20px; margin-left: 20px"><b>Percent Complete</b></div>
    </div>

    <hr class="divider" style="margin-top: 60px">

    <hr class="divider" style="margin-top: 50px">
     
    <hr class="divider" style="margin-top: 50px">
      
    <hr class="divider" style="margin-top: 50px">
   
  </div>

</div>