<div class="row">
	<div class="span6 offset3">

		<%= form_for(@course) do |f|  %>
			<%= render 'shared/error_messages_courses' %>

			<div class="courseCreator">

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :description %>
			<%= f.text_field :description %>

			<%= f.label :typeof %>
			<%= f.text_field :typeof %>

			</div>
			<% index = 1 %>
			<%= f.fields_for :levels do |builder| %>
  			<%= render 'level_fields', {f: builder, index: index} %>
  			<% index = index + 1 %>
			<% end %>
			<%= link_to_add_fields "add level", f, :levels %>


			<%= f.submit "Save", class: "btn btn-large btn-primary save" %>

		<% end %>
	</div>
</div>