<fieldset class="levelCreator">
	<% index = + 1 %>
	<div>
	<%= "Level #{index}" %>
    </div>
	<%= f.label :title, "Title"%> <br />
	<%= f.text_field :title %><br />
	<%= f.hidden_field :_destroy %>
	<%= link_to "remove", '#', class: "btn btn-danger btn-mini remove_fields" %>
	<%= f.fields_for :steps do |builder| %>
      <%= render 'step_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "add step", f, :steps %>
</fieldset>