<fieldset class="stepCreator">
	<%= "Step" %>
	<%= f.label :description, "Description" %>
	<%= f.text_area :description, :style => "width: 100%;" %>

	<div>
		<div>
		  <%= f.label :media_type, "Excel" %>
		  <%= f.radio_button :media_type, 'excel', :checked => true, class: 'icheck' %>
		</div>
		<div>
		  <%= f.label :media_type, "Video" %>
		  <%= f.radio_button :media_type, 'video', class: 'icheck' %>
		</div>
		<div>
		  <%= f.label :media_type, "Multiple Choice" %>
		  <%= f.radio_button :media_type, 'multiple_choice', class: 'icheck' %>
		</div>
    </div>

	<%= f.hidden_field :_destroy %>

	<%= link_to "remove", '#', class: "btn btn-danger btn-mini remove_fields "%>

</fieldset>