<fieldset class="stepCreator">
	<%= "Step" %>
	<%= f.label :description, "Instructions" %>
	<%= f.text_area :description, :style => "width: 98%;", :rows => "5" %>

	<div class="stepContainer">
		<div>
		  <%= f.label :media_type, "Excel" %>
		  <%= f.radio_button :media_type, 'excel', :checked => true, class: 'icheck stepRadio' %>
		</div>
		<div>
		  <%= f.label :media_type, "Video" %>
		  <%= f.radio_button :media_type, 'video', class: 'icheck stepRadio' %>
		</div>
		<div>
		  <%= f.label :media_type, "Multiple Choice" %>
		  <%= f.radio_button :media_type, 'multiple_choice', class: 'icheck stepRadio' %>
		</div>
    </div>

    <div class="excelCreator">
        <%= f.label :excel_link, "Excel Link" %>
		<%= f.text_field :excel_link, :style => "width: 98%;" %>
		<%= f.label :excel_answer, "Excel Answer (#)" %>
		<%= f.text_field :excel_answer, :style => "width: 98%;" %>
	</div>

	<div class="videoCreator">
	    <%= f.label :video_link, "Video Link" %>
		<%= f.text_field :video_link, :style => "width: 98%;" %>
	</div>

    <div class="mcCreator">
		<%= f.label :choice_one, "Choice One" %>
		<%= f.text_field :choice_one, :style => "width: 98%;" %>
		<%= f.label :choice_two, "Choice Two" %>
		<%= f.text_field :choice_two, :style => "width: 98%;" %>
		<%= f.label :choice_three, "Choice Three" %>
		<%= f.text_field :choice_three, :style => "width: 98%;" %>
		<%= f.label :choice_four, "Choice Four" %>
		<%= f.text_field :choice_four, :style => "width: 98%;" %>
		<%= f.label :mc_answer, "MC Answer (#)" %>
		<%= f.text_field :mc_answer, :style => "width: 98%;" %>
	</div>


	<%= f.hidden_field :_destroy %>

	<%= link_to "remove", '#', class: "btn btn-danger btn-mini remove_fields "%>

</fieldset>